body {
    width: 50%;
    margin: auto;
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: normal;
    src: local('Lobster'), url('./lobster.ttf') format('truetype');
}

h1, h2 {
    font-family: 'Lobster', 'Helvetica', cursive;
    font-size: 40px;
}

h1 {
    margin-top: 8%;
}

h2 {
    font-size: 30px;
}

pre {
    background: #222;
    padding: 20px 10px;
}
